body {
   color: #fff;
   background-image: url('back.gif');
   background-color: #000;
   padding-top: 22px;
   padding-bottom: 25px;
}

a:link, a:visited {
   color: #656565;
   text-decoration: none;
   background-color: #232323;
}

a:hover, a:active {
   color: #ffff80;
   text-decoration: none;
   background-color: #232323;
}

.header a:link, .footer a:link, .header a:visited, .footer a:visited {
   color: #656565;
   text-decoration: none;
   background-color: #232323;
}

.header a:hover, .footer a:hover, .header a:active, .footer a:active {
   color: #3a60d8;
   text-decoration: none;
   background-color: #232323;
}

.links a:link, .links a:visited {
   color: #656565;
   text-decoration: none;
   background-color: #282828;
}

.links a:hover, .links a:active {
   color: #ffff80;
   text-decoration: none;
   background-color: #282828;
}

.title1 {
   color: #809fff;
   font: bold 23px verdana, sans-serif;
   background-color: #232323;
}

.title2 {
   color: #fff;
   font: bold 12px verdana, sans-serif;
   text-align: center;
   background-color: #282828;
}

.title3 {
   color: #fff;
   font: bold 12px verdana, sans-serif;
   text-align: center;
   background-color: #232323;
}

.maintable {
   width: 782px;
   color: #fff;
   background-color: #232323;
   border: 1px #2d2d2d solid;
   margin-left:auto;
   margin-right:auto;
}

.header {
   border: 1px solid;
   border-right-color: #232323;
   border-left-color: #232323;
   border-top-color: #232323;
   border-bottom-color: #474751;
   font: 12px verdana, sans-serif;
   margin-bottom: 15px;
   margin-top: 6px;
   margin-right: 14px;
   margin-left: 14px;
   width: 752px;
}

.content {
   margin-left: 15px;
   font: 12px verdana, sans-serif;
   margin-right: 15px;
}

.links {
   color: #fff;
   border: 1px #323232 solid;
   width: 184px;
   background-color: #282828;
   padding-left: 12px;
   padding-right: 12px;
   padding-bottom: 6px;
   padding-top: 6px;
   text-align: left;
   margin-right: 15px;
   font: 10px verdana, sans-serif;
}

.footer {
   border: 1px solid;
   border-right-color: #232323;
   border-left-color: #232323;
   border-top-color: #474751;
   border-bottom-color: #232323;
   margin-top: 15px;
   margin-right: 14px;
   margin-left: 14px;
   margin-bottom: 6px;
   padding-top: 6px;
   font: 10px verdana, sans-serif;
   width: 752px;
}

.comment {
   color: #fff;
   font: 9px verdana, sans-serif;
   background-color: #232323;
}

.sep {
   font-size: 50%;
}
